
.ct{
    font-size: 15px !important;
}
.ct2{
    font-size: 30px !important;
}
.ct3{
    font-size: 15px !important;
}
.nav-text{
    font-size: 30px !important;

}
.text-tl {
   -webkit-text-decoration-line: line-through !important; /* Safari */
   text-decoration-line: line-through !important; 
}
.ps{
    max-height: 100px !important;
}

.carousel .slide img {
    max-height: 360px;  /* change this to whatever you want */
}

.search-bar{
     padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 14px;
    min-width: 390px;
}
.search-bar-button{
     background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 40px;
    cursor: pointer;
}
.bg-warning{
     background-color: #ffe11b !important;
     color: black;

}
.btn-warning{
     background-color: #ffe11b !important;
      color: black;

}
.badge-warning{
     background-color: #ffe11b !important;
      color: black;

}
